# 1. Duplicate this file as `.env` file and edit values to fit your project.
# 2. Edit env types at file `src/types/process.d.ts`.

# 'development' | 'production'
ENVIRONMENT=

# webpack analyzer, see `webpack/webpack.prod.js`
WEBPACK_ANALYZER=
